

html, body {
  height:100%;
}


.site-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*Explicit*/

.frame {
  width: 100%;
  height: 100vh;
}

/*Flexbox

.frame-container {
  display: flex;
  flex-direction: column;
}

.frame {
  flex-grow: 1;
}
*/


/*Ratio Padding
.frame-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 66%;
}

.frame {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/




/*Unused*/

.block {
  display: block;
}

.block-inline {
  display: inline-block;
}

.flex {
  display: flex;
  /*border: 2px solid blue*/
}

.flex-inline {
  display: inline-flex;
  /*border: 2px solid green*/
}

.column {
  flex-direction: column;
  /*border: 1px solid red;*/
}

.jc-ctr {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.jc-start {
  justify-content: flex-start;
}

.items-ctr {
  align-items: center;
}
